.calendar {
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
  text-align: center;
  font: 15px/1em inherit;
  color: $grey-30;
  font-weight: bolder; }
  .calendar a {
    text-decoration: none;
    color: inherit; }
  .calendar header .butn {
    display: inline-block;
    position: absolute;
    width:25px;
    padding: 0.15em;
    text-align: center;
    line-height: 0;
    color: $grey-100;
    border-radius: $border-radius;
    border: 2px solid $grey-100; }
  .calendar header .butn:hover {
    background: $white;
    border-color: $primary;
    color: $primary; }
  .calendar header .butn-prev {
    left: 5%;
    top: 0; }
  .calendar header .butn-next {
    right: 5%;
    top: 0; }
  .calendar header .month {
    font-size: $month-size;
    font-weight: bold;
    padding: 0;
    margin: 0; }
  .calendar table {
    width: 100%;
    margin: 0;
    border-spacing: 0px; }
  .calendar thead {
    font-size: $day-size;
    font-weight: 600; }
  .calendar td {
    padding: $padding-days; 
    font-size: $day-size;}
  .calendar .day {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 1.9em;
    border-radius: $border-radius;
    border: 2px solid transparent; }
  .calendar .day:hover {
    border: 2px solid $primary;
    color: $primary; }
  .calendar .day.today {
    border-color: $primary;
    color: $primary; }
  .calendar .day.wrong-month {
    color: $grey-100; }
  .calendar .day.wrong-month:hover {
    border: 2px solid transparent; }
  .calendar .event-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $grey-30;
    font-weight: bolder; }
  .calendar .filler {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: $border-radius;
    background: $grey-30;
    transform: translate(-50%, -50%); }
