@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

input[type=checkbox], input[type=radio]{ 
	display:none;
}

label{
	display: inline;
}

input[type=checkbox] + label:before, input[type=radio] + label:before{	
	font-family: 'FontAwesome';
	font-size: $font-size-check;
}

input[type=checkbox] + label:before, input[type=radio] + label:before{ 
	content: "\f096"; color: $primary; 
}

input[type=checkbox]:checked + label:before, input[type=radio]:checked + label:before{
	content: "\f046"; color: $primary; 
}

