// Solo aplicable al index

// Icono de login

.log-icon{
	position:absolute;
	top: $top-init;
	left: $left-init;
}

.max-search-width{
	max-width: $max-search-width!important;
}

.line-height-small{
	line-height: $line-height-small;
}