// Opciones de display

.display-notification{
	position: absolute!important;
	top: $top-init;
	right: $right-notification;
}

.rotate-angle-icon{
	transform: rotate($rotation-angle);
}

.bg-transparent{
	background-color: $transparent;
}

// Para resoluciones de 750px hacia abajo

@media (max-width: $max-width){
	.display-none{
		display: none;
	}
}