// Opciones de display

.display-notification{
	position: absolute!important;
	top: $top-init;
	right: $right-notification;
}

// Ajuste a las tablas

table{
	table-layout: fixed;
}

#tableMenu th{
	width: $table-menu-width;
	overflow: auto;
}

// Transiciones del Angle Button

.transition{
	transition: $transition-angle;
}

.rotate-angle-icon{
	transform: rotate($rotation-angle);
}

// Para resoluciones de 750px hacia abajo

@media (max-width: $max-width){
	.display-none{
		display: none;
	}
}