// Tablas

$table-menu-width: 9.5rem;

// Transición

$transition-angle: ease 0.5s;

// Rotactión del angle icon

$rotation-angle: 180deg;

// Opciones de display

$top-init: 0;

$left-init: 0;

$right-notification: 25%;

// Responsive @media

$max-width: 750px;