// Border Radius

$pill-radius: 50px;

// Icon-sizes

$tiny_icon: 1rem;
$small_icon: 2rem;
$medium_icon: 4rem;
$large_icon: 6rem;

// Font-sizes

$tiny_font: 0.25rem;
$small_font: 0.50rem;
$medium_font: 0.75rem;
$large_font: 1rem;