// Tablas

$table-menu-width: 9.5rem;

// Transición

$transition-angle: ease 0.5s;

// Rotactión del angle icon

$rotation-angle: 180deg;

// Opciones de display

$top-init: 0;

$left-init: 0;

$right-notification: 25%;

// Responsive @media

$max-width: 750px;

$max-search-width: 330px;

// Typography

$font-small: 9px;

// Colors

$grey-100: #999;

$grey-200: #e6e6e6;

$grey-70: #777;

$grey-30: #333;

$primary: #ff6e40;

$white: #fff;

$transparent: transparent;

// line-heights

$line-height-small: 12px;

// Menu categorias de resultados.html

	// Posición

	$top-cat: 0;
	$left-cat: -80%;

	// Color

	$bg-cat: #FFF;

	// width

	$width-cat: 80%;

	// Fonts-sizes

	$day-size: 14px;
	$month-size: 20px;

	// Spacing

	$padding-days: 0.10em;

	// Borders

	$border-radius: 50%;

// Form Checkboxes, radio btn

	$font-size-check: 18px;

	$font-size-radio: 18px;